<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>BBC</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
	</head>
	<body>
		<header>
			<!--nav bar -->
			<nav class="bbc-nav">
  <a href="#" class="bbc-logo">
    <img src="c:\Users\zem42\OneDrive\Pictures\2870_bbc-news-logo.png" alt="BBC">
  </a>

  <button class="sign-in">
    <span>👤</span> Sign in
  </button>

  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Sport</a></li>
    <li><a href="#">Reel</a></li>
    <li><a href="#">Worklife</a></li>
    <li><a href="#">Travel</a></li>
    <li><a href="#">Future</a></li>
    <li><a href="#">Culture</a></li>
    <li><a href="#">More ▾</a></li>
  </ul>

  <form class="search-form" role="search">
    <input type="search" placeholder="Search">
    <button type="submit">🔍</button>
  </form>
</nav>
		</header>
		
		
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
